.player {
	grid-area: bottom-player;

	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	border-radius: 8px;

	margin-top: auto;
	user-select: none;
}

.player__left,
.player__right {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;

	width: 30%;
	min-width: 180px;
}

.player__right {
	justify-content: end;
}

.player__song_title {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}

.player__img {
	& img {
		width: 56px;
		height: 56px;
		border-radius: 8px;

		object-fit: cover;
	}
}

.player__song_author {
	font-size: 16px;
	opacity: 0.9;
}

.player__controls_block {
	width: 40%;
	max-width: 700px;
}

.player__bar_block {
	margin-bottom: 20px;
}

.player__bar_block__audio {
	border: 0;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	clip: rect(0 0 0 0);
}

.player__bar {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
}

.player__bar_stripe {
	appearance: none;
	background: linear-gradient(
		to right,
		var(--pink) var(--progress-bar-position),
		#cdcdcd var(--progress-bar-position)
	);
	height: 4px;
	width: 100%;
	border-radius: 10px;
	cursor: grab;

	&::-webkit-slider-thumb {
		appearance: none;
		background-color: #fff;
		border: 0;
		border-radius: 50%;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
		height: 12px;
		width: 12px;
	}

	&::-webkit-slider-runnable-track {
		background: transparent;
	}
}

.player__bar_time {
	display: flex;
	justify-content: space-between;
}

.player__controls_buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 170px;
	margin: 0 auto 8px;

	& img {
		width: 12px;
		height: 12px;
		object-fit: contain;
	}
}

.player__controls_button {
	width: 12px;
	height: 12px;
}

.player__controls_play {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	width: 30px;
	height: 30px;
	border-radius: 100%;
}
